body {
  padding: 0;
  margin: 0;
}

#welcome {
  position: relative;
  height: 100vh;
  background-color: #fff;
  background-image: url('../images/arch-drawing.jpg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  z-index: 5;
}

#vitruvius-tagline {
  position: absolute;
  width: 590px;
  top: calc(50% - 210px);
  left: calc(50% - 295px);
}

#scroll-to-content {
  position: absolute;
  bottom: 60px;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 54px;
  cursor: pointer;
}

#nav {
  position: absolute;
  left: 0;
  top: calc(100vh);
  height: 100%;
  background: #f5f5f5;
  z-index: 1;
}

#nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#nav li {
  width: 200px;
  padding: 10px 5px;
  border-bottom: 3px solid #fff;
}

#content {
  position: absolute;
  top: calc(100vh);
  left: 200px;
  right: 0;
  padding: 0 50px;
}
