// = Fonts
$font-family:                           Muli, 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
$font-size-base:                        16px !default;
$font-base-color:                       #222 !default;

$font-h1:                               50px !default;
$font-h2:                               42px !default;
$font-h3:                               36px !default;
$font-h4:                               30px !default;
$font-h5:                               24px !default;
$font-h6:                               15px !default;

//= Primary Brand Colors
$color-moxi-green:                      rgba(80,182,76,1.0) !default; // Moxi Green was $brand-primary
$color-moxi-blue:                       rgba(80,146,211,1.0)  !default; // Moxi Blue
$brand-primary: red;
                    //need to change this naming
$brand-secondary:                       rgba(227,227,227,1.0) !default; // Grey
                    //
//= Neutrals
$color-neutral100:                      rgba(33,46,53,1.0)    !default; // Neutral100
$color-neutral90:                       rgba(55,66,73,1.0)    !default; // Neutral90
$color-nuetral80:                       rgba(77,88,93,1.0)    !default; // Neutral80
$color-nuetral70:                       rgba(99,108,113,1.0)  !default; // Neutral70
$color-nuetral60:                       rgba(122,130,134,1.0) !default; // Neutral60
$color-nuetral50:                       rgba(144,150,154,1.0) !default; // Neutral50
$color-nuetral40:                       rgba(166,171,174,1.0) !default; // Neutral40
$color-nuetral30:                       rgba(188,192,194,1.0) !default; // Neutral30
$color-nuetral20:                       rgba(211,213,215,1.0) !default; // Neutral20
$color-nuetral15:                       rgba(232,234,234,1.0) !default; // Neutral15
$color-nuetral10:                       rgba(242,243,243,1.0) !default; // Neutral10
$color-nuetral05:                       rgba(248,248,248,1.0) !default; // Neutral05
$color-nuetral00:                       rgba(255,255,255,1.0) !default; // Neutral00

//= Alternatives
$color-violet100:                       rgba(201,103,242,1.0) !default; // Heliotrope
$color-violet70:                        rgba(211,152,245,1.0)  !default; // Mauve

$color-violetred100:                    rgba(205,84,130,1.0)  !default; // Mulberry
$color-violetred70:                     rgba(214,113,151,1.0) !default; // Pale Violet Red

$color-turquoise100:                    rgba(71,196,181,1.0)  !default; // Viking
$color-turquoise70:                     rgba(126,213,203,1.0) !default; // Riptide

$color-gold100:                         rgba(245,166,35,1.0)  !default; // Lightning Yellow
$color-gold70:                          rgba(247,184,79,1.0)  !default; // Texas Rose

$color-orange100:                       rgba(239,110,65,1.0)  !default; // Flamenco
$color-orange70:                        rgba(243,147,113,1.0) !default; // Sandy Brown

$color-destructive:                     rgba(244,67,54,1.0) !default // Destructive = red
$color-destructive-hover:               rgba(244,67,54,.7) !default // Destructive light

//= Buttons
$btn-font-weight:                       400 !default; // Normal
$btn-font-size-base:                    16px !default;
$btn-border-radius-base:                3px !default;
$btn-font-size-dense:                   14px !default;

$btn-bg-flat:                           rgba(255,255,255,0) !default;
$btn-bg-flat-hover:                     rgba(242,242,242,1) !default;

$btn-default-color:                     #212E35 !default;
$btn-default-bg:                        rgba(255,255,255,1.0) !default;
$btn-default-bg-hover:                  #E3E3E3 !default;
$btn-default-border:                    #D9D9D9 !default;

$btn-primary-color:                     #fff !default;
$btn-primary-bg:                        $brand-primary !default;
$btn-primary-bg-hover:                  #499F46 !default;
$btn-primary-border:                    transparent !default;

$btn-outline-color:                     #fff !default;
$btn-outline-bg:                        transparent !default;
$btn-outline-border:                    #fff !default;

$btn-icon-padding:                      12px !default;
$btn-icon-font-size-base:               15px !default;
$btn-icon-font-size-dense:              12px !default;

//= Padding
$padding-base-vertical:                 13px !default;
$padding-dense-vertical:                9px !default;
$padding-base-horizontal:               16px !default;

//= Width
$width-full:                            100% !default;

//= Misc
$line-height-base:                      100% !default;
$btn-disabled:                          0.5 !default;

//= Transparency
// $trans-10:                              0.1 !default
