// Import Variables
// --------------------------------------------------
@import "variables";

// Import Mixins
// --------------------------------------------------
@import "components/mixins/buttons";

// Import Components
// --------------------------------------------------
@import "components/typography";
@import "components/buttons";
@import "components/colors";

// Import Muli Font from Google
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

body {
  font-family: $font-family;
  font-size: $font-size-base;
}
