// Base Style
// --------------------------------------------------

.md-btn {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  max-height: 12px;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $btn-font-size-base, $line-height-base, $btn-border-radius-base);

  i {
    font-size: $btn-icon-font-size-base;
    margin-right: $btn-icon-padding*(2/3);
  }

}

// Alternate buttons
// --------------------------------------------------

.md-btn {
  @include button-variant($btn-default-color, $btn-default-bg, transparent);
}

.md-btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.md-btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.md-btn-icon {
  padding-left: $btn-icon-padding;
  padding-right: $btn-icon-padding;
  max-height: 12px;
}

.md-btn-dense {
  padding-top: $padding-dense-vertical;
  padding-bottom: $padding-dense-vertical;
  font-size: $btn-font-size-dense;

  i {
    font-size: $btn-icon-font-size-dense;
  }
}

// IE 11 Hacks here
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .md-btn {
    i {
      margin-top: -7px;
    }
  }
  .md-btn-dense {
    i {
      margin-top: -5px;
    }
  }
}
