@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900");
h1 {
  font-size: 50px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 15px; }

b, strong {
  font-weight: bold; }

code {
  padding: 13px 16px;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 3px; }

pre > code {
  display: block;
  padding: 13px 16px;
  white-space: pre; }

.md-btn {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  max-height: 12px;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 100%;
  border-radius: 3px; }
  .md-btn i {
    font-size: 15px;
    margin-right: 8px; }

.md-btn {
  color: #212E35;
  background-color: #fff;
  border-color: transparent; }
  .md-btn:hover {
    color: #212E35;
    background-color: #f2f2f2;
    border-color: transparent; }

.md-btn-default {
  color: #212E35;
  background-color: #fff;
  border-color: #D9D9D9; }
  .md-btn-default:hover {
    color: #212E35;
    background-color: #f2f2f2;
    border-color: #c5c5c5; }

.md-btn-primary {
  color: #fff;
  background-color: #50B64C;
  border-color: transparent; }
  .md-btn-primary:hover {
    color: #fff;
    background-color: #47a543;
    border-color: transparent; }

.md-btn-icon {
  padding-left: 12px;
  padding-right: 12px;
  max-height: 12px; }

.md-btn-dense {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px; }
  .md-btn-dense i {
    font-size: 12px; }

.md-btn-disabled {
  opacity: 0.5; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .md-btn i {
    margin-top: -7px; }
  .md-btn-dense i {
    margin-top: -5px; } }

body {
  font-family: Muli, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px; }
