@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900");
h1 {
  font-size: 50px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 15px; }

b, strong {
  font-weight: bold; }

code {
  padding: 13px 16px;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 3px; }

pre > code {
  display: block;
  padding: 13px 16px;
  white-space: pre; }

.md-btn {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  max-height: 12px;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 100%;
  border-radius: 3px; }
  .md-btn i {
    font-size: 15px;
    margin-right: 8px; }

.md-btn {
  color: #212E35;
  background-color: white;
  border-color: transparent; }
  .md-btn:not(.md-btn-disabled):hover {
    color: #212E35;
    background-color: #f2f2f2;
    border-color: transparent; }

.md-btn-flat {
  background-color: rgba(255, 255, 255, 0); }
  .md-btn-flat:not(.md-btn-disabled):hover {
    background-color: #f2f2f2; }

.md-btn-default {
  color: #212E35;
  background-color: white;
  border-color: #D9D9D9; }
  .md-btn-default:not(.md-btn-disabled):hover {
    color: #212E35;
    background-color: #f2f2f2;
    border-color: #c5c5c5; }

.md-btn-primary {
  color: #fff;
  background-color: #50b64c;
  border-color: transparent; }
  .md-btn-primary:not(.md-btn-disabled):hover {
    color: #fff;
    background-color: #47a543;
    border-color: transparent; }

.md-btn-destructive {
  border-color: #f44336;
  color: #f44336; }
  .md-btn-destructive:not(.md-btn-disabled):hover {
    color: rgba(244, 67, 54, 0.7);
    background-color: "#fff";
    border-color: rgba(244, 67, 54, 0.7); }

.md-btn-icon {
  padding-left: 12px;
  padding-right: 12px;
  max-height: 12px; }

.md-btn-dense {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px; }
  .md-btn-dense i {
    font-size: 12px; }

.md-btn-disabled {
  opacity: 0.5; }

.md-btn-disabled:hover {
  cursor: default !important; }

.md-btn-full {
  width: 100%;
  justify-content: center; }

.md-btn-outline {
  background-color: transparent;
  border-color: #FFF;
  color: #fff; }

.md-btn-outline + .md-btn-primary {
  border-color: #50b64c; }

.md-btn-outline {
  background-color: transparent; }

.md-btn-outline:hover {
  background: rgba(80, 182, 76, 0.1) !important; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .md-btn i {
    margin-top: -7px; }
  .md-btn-dense i {
    margin-top: -5px; } }

body {
  font-family: Muli, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px; }
