.md-btn {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 11px 16px;
  font-size: 12px;
  line-height: 100%;
  border-radius: 3px; }
  .md-btn i {
    font-size: 22px;
    margin-right: 8px; }

.md-btn {
  color: #212E35;
  background-color: #fff;
  border-color: transparent; }
  .md-btn:hover {
    color: #212E35;
    background-color: #e6e6e6;
    border-color: transparent; }

.md-btn-default {
  color: #212E35;
  background-color: #fff;
  border-color: #D9D9D9; }
  .md-btn-default:hover {
    color: #212E35;
    background-color: #e6e6e6;
    border-color: #bababa; }

.md-btn-primary {
  color: #fff;
  background-color: #499F46;
  border-color: transparent; }
  .md-btn-primary:hover {
    color: #fff;
    background-color: #397c36;
    border-color: transparent; }

.md-btn-icon {
  padding-left: 8px;
  padding-right: 8px; }

body {
  font-family: Helvetica, Verdana, Arial, sans-serif; }
