.md-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px; }

.md-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .md-btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }

.md-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }
  .md-btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }

.md-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }
  .md-btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }

.md-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }
  .md-btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }

.md-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
  .md-btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }

.md-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }
  .md-btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
