// = Fonts
$font-family:                           'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
$font-size-base:                        16px !default;
$font-base-color:                       #222 !default;

$font-h1:                               50px !default;
$font-h2:                               42px !default;
$font-h3:                               36px !default;
$font-h4:                               30px !default;
$font-h5:                               24px !default;
$font-h6:                               15px !default;

//= Brand
$brand-primary:                         #499F46 !default; // Moxi Green
$brand-secondary:                       #E3E3E3 !default; // Grey

//= Buttons
$btn-font-weight:                       400 !default; // Normal
$btn-font-size-base:                    12px !default;
$btn-border-radius-base:                3px !default;

$btn-default-color:                     #212E35 !default;
$btn-default-bg:                        #fff !default;
$btn-default-bg-hover:                  #E3E3E3 !default;
$btn-default-border:                    #D9D9D9 !default;

$btn-primary-color:                     #fff !default;
$btn-primary-bg:                        $brand-primary !default;
$btn-primary-bg-hover:                  #499F46 !default;
$btn-primary-border:                    transparent !default;

$btn-icon-padding:                      8px !default;
$btn-icon-font-size-base:               22px !default;
$btn-icon-font-size-dense:              18px !default;

//= Padding
$padding-base-vertical:                 11px !default;
$padding-dense-vertical:                9px !default;
$padding-base-horizontal:               16px !default;

//= Misc
$line-height-base:                      100% !default;
