@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:not(.md-btn-disabled):hover {
    color: $color;
    background-color: darken($background, 5%);
    border-color: darken($border, 8%);
  }

}

@mixin button-flat-variant($background-color, $background-color-hover) {
  background-color: $background-color;

  &:not(.md-btn-disabled):hover {
    background-color: $background-color-hover;
  }
}

@mixin button-hard-coded-hover($border-color, $color, $background-color-hover, $border-color-hover, $color-hover)  {
  border-color: $border-color;
  color: $color;

  &:not(.md-btn-disabled):hover {
    color: $color-hover;
    background-color: $background-color-hover;
    border-color: $border-color-hover;
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
