// Colors
// --------------------------------------------------

//= Primaries
.color-moxi-green {background-color:$color-moxi-green;}
.color-moxi-blue {background-color:$color-moxi-blue;}

//= Neutrals
.color-n100 {background-color:$color-neutral100;}
.color-n90 {background-color:$color-neutral90;}
.color-n80 {background-color:$color-neutral80;}
.color-n70 {background-color:$color-neutral70;}
.color-n60 {background-color:$color-neutral60;}
.color-n50 {background-color:$color-neutral50;}
.color-n40 {background-color:$color-neutral40;}
.color-n30 {background-color:$color-neutral30;}
.color-n20 {background-color:$color-neutral20;}
.color-n15 {background-color:$color-neutral15;}
.color-n10 {background-color:$color-neutral10;}
.color-n05 {background-color:$color-neutral05;}
.color-n00 {background-color:$color-neutral00;}

// Alternatives
.color-v100 {background-color:$color-violet100;}
.color-v70  {background-color:$color-violet70;}

.color-vr100 {background-color:$color-violetred100;}
.color-vr70 {background-color:$color-violetred70;}

.color-t100 {background-color:$color-turquoise100;}
.color-t70 {background-color:$color-turquoise70;}

.color-g100 {background-color:$color-gold100;}
.color-g70 {background-color:$color-gold70;}

.color-o100 {background-color:$color-orange100;}
.color-o70 {background-color:$color-orange70;}

.color-destructive {background-color:$color-destructive;}
.color-destructive-lt {background-color:$color-destructive-hover;}
