/* Small devices - This is the default*/
.display-large {
  font-size: 26px;
  line-height: $line-height-l;
  font-weight: $font-weight-superheavy;
}
.display-medium {
  font-size: 18px;
  line-height: $line-height-m;
  font-weight: $font-weight-superheavy;
  text-transform: uppercase;
}
.display-regular {
  font-size: 16px;
  line-height: $line-height-s;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}
.display-small {
  font-size: 16px;
  line-height: $line-height-s;
  font-weight: $font-weight-heavy;
  text-transform: uppercase;
}
.body-regular {
  font-size: 14px;
  line-height: $line-height-s;
  font-weight: $font-weight-regular;
}
.body-small {
  font-size: 12px;
  line-height: $line-height-xs;
  font-weight: $font-weight-regular;
}
.heading {
  font-size: 14px;
  font-weight: $font-weight-heavy;
  line-height: $line-height-s;
}
.subheading {
  font-size: 13px;
  font-weight: $font-weight-regular;
  line-height: $line-height-s;
}
/* All other devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .display-large {
    font-size: 40px;
    line-height: $line-height-xl;
  }
  .display-medium {
    font-size: 24px;
    line-height: $line-height-l;
  }
  .display-regular {
    font-size: 18px;
    line-height: $line-height-m;
    text-transform: uppercase;
  }
  .body-regular {
    font-size: 16px;
  }
  .heading {
    font-size: 16px;
  }
  .subheading {
    font-size: 14px;
  }
}

b, strong {
  font-weight: bold;
}

code {
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: $btn-border-radius-base;
}

pre > code {
  display: block;
  padding: $padding-base-vertical $padding-base-horizontal;
  white-space: pre;
}
